{{template "base" .}}

{{define "title"}}Note #{{.Note.ID}}{{end}}

{{define "main"}}
{{with .Note}}
<dd>
    <button id='toggleButton' onclick='toggleContent()'>Pure Text</button>
    <div class='metadata'>
        <time>Created: {{.Created.Format "02-01-2006"}}</time> | <time>Expires: {{.Expires.Format "02-01-2006"}}</time>
    </div>
</dd>
<div class='note'>
    <div id='renderedContent' style='display: block;'>
        <div class='markdown-body'>
            {{template "renderedNote" .}}
        </div>
    </div>
    <div id='pureContent' style='display: none;'>
        <div class='pure-body'>
            <pre><p>
                    {{.Content}}
                </p></pre>
        </div>
    </div>
    <br>
</div>

<script>
    function toggleContent() {
        var renderedContent = document.getElementById('renderedContent');
        var pureContent = document.getElementById('pureContent');
        var button = document.getElementById('toggleButton');

        if (renderedContent.style.display === 'none') {
            renderedContent.style.display = 'block';
            pureContent.style.display = 'none';
            button.textContent = 'Pure Text';
        } else {
            renderedContent.style.display = 'none';
            pureContent.style.display = 'block';
            button.textContent = 'Rendered MD';
        }
    }
</script>
{{end}}
{{end}}