* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', 'Arial', 'sans-serif';
}

html,
body {
    background-color: #f5f5f5;
    height: 100%;
    width: 100%;
    margin: 0;
}

form,
main {
    height: 100%;
    overflow-y: auto;
}

select,
label,
.metadata {
    color: #777;
}

.metadata {
    margin-top: 18px;
    margin-bottom: 18px;
    text-align: right;
}

a,
button,
input[type="submit"] {
    color: #62CB31;
    text-decoration: none;
    background: none;
    border: none;
}

a,
main {
    margin-left: 12%;
    margin-right: 12%;
}

.go a {
    color: #3498db;
}

nav,
footer,
.go a {
    margin-left: 0px;
    margin-right: 0px;
}

button,
input[type="submit"] {
    background-color: #62CB31;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 18px 27px;
    border: none;
    display: inline-block;
    margin-top: 18px;
    font-weight: 700;
}

a:hover,
button:hover,
input[type="submit"]:hover {
    text-decoration: underline;
    cursor: pointer;
}

textarea {
    font-family: 'Menlo', 'monospace';
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 18px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 60%;
    min-height: 25%;
}

footer {
    border-top: 1px solid #E4E5E7;
    padding-top: 17px;
    text-align: center;
    width: 100%;
    bottom: 0px;
}

nav {
    border-bottom: 1px solid #E4E5E7;
    padding-top: 17px;
    text-align: left;
}

footer,
nav {
    padding-bottom: 15px;
    background: #F7F9FA;
    height: 60px;
    color: #6A6C6F;
}